{% extends 'layouts/base.html' %} {% block content %}
<main class="container py-5">
  <section class="card card-body">
    <h1 class="display-1 text-center">Django App</h1>
    <p>
      Aliqua nisi tempor amet sint reprehenderit cillum eu minim id veniam magna
      sunt. Consectetur et nostrud sit dolore ullamco mollit. Adipisicing et
      velit reprehenderit qui dolore ullamco qui sit ea cupidatat pariatur
      tempor ea. Est in culpa minim sint fugiat ullamco nulla quis enim aute.
      Aute enim est officia anim laborum dolore duis. Consequat quis velit anim
      esse culpa quis esse anim exercitation commodo nostrud elit excepteur.
      Excepteur eiusmod Lorem esse eu irure.
    </p>
    <div class="text-center">
      <a class="btn btn-secondary" href="/signup">SignUp</a>
      <a class="btn btn-dark" href="/signin">SignIn</a>
    </div>
  </section>
</main>

{% endblock %}
